body {
	margin: 0;
	overflow-y: hidden;
}

h1 {
	margin: 0;
}


section {
	width: 100vw;
	height: 100vh;
}

#map-container {
	width: 100%;
	height: 100%;
	background-image: url(../img/map.png);
	background-position: center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.mission-car {
	width: 5vw;
    height: 5vw;
    background-image: url(../img/test.gif);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    -webkit-transition: 4s linear;
	-moz-transition: 4s linear;
	-o-transition: 4s linear;
	transition: transform 4s linear;
	-webkit-transform: translate(10px, 10px),
	-moz-transform: translate(10px, 10px),
	-ms-transform: translate(10px, 10px),
	-o-transform: translate(10px, 10px),
	 transform: translate(10px, 10px)
	/*-webkit-transform: translate(0vw, 0vw),
	-moz-transform: translate(0vw, 0vw),
	-ms-transform: translate(0vw, 0vw),
	-o-transform: translate(0vw, 0vw),
	 transform: translate(0vw, 0vw);*/
}

.translate-1 {
	 transform: translate(500px, 500px) !important;
}

.translate-2 {
	 transform: translate(1000px, 1000px) !important;
}

#test2 {
	width: 10vw;
    height: 10vw;
    background-image: url(../img/test.gif);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: absolute;
    top: 20vw;
    left: 15vw;
    background-size: contain;
    -webkit-transition: 4s linear;
	-moz-transition: 4s linear;
	-o-transition: 4s linear;
	transition: transform 4s linear;
	-webkit-transform: translate(10px, 10px),
	-moz-transform: translate(10px, 10px),
	-ms-transform: translate(10px, 10px),
	-o-transform: translate(10px, 10px),
	 transform: translate(10px, 10px)
	/*-webkit-transform: translate(0vw, 0vw),
	-moz-transform: translate(0vw, 0vw),
	-ms-transform: translate(0vw, 0vw),
	-o-transform: translate(0vw, 0vw),
	 transform: translate(0vw, 0vw);*/
}

.point {
	width: 5vw;
	height: 5vw;
	position: absolute;
	z-index: 111;

	/*background-color: cadetblue;*/
}

#spawn {
	top: 55vh;
    left: 24vw;
}

#point-1 {
    top: 59.5vh;
    left: 35vw;
}

#point-2 {
	top: 34.5vh;
    left: 53.5vw;
}

#point-3 {
    top: 44vh;
    left: 94.5vw;
}


#point-4 {
    top: 36vh;
    left: 94vw;
}

.building {
	position: absolute;
    z-index: 10;
}

#oil {
	display: none /* <---  delete this   !!! */
	width: 10vw;
    height: 10vw;
    left: 41vw;
    top: 47vh;
	background-image: url(../img/oil.gif);
	background-position: center;
    background-attachment: scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

#oil:hover {
    opacity: 0.8;
    cursor: pointer;
}

#build {
	/*width: 25vw;
    height: 25vw;
    left: 21vw;
    top: 38vh;*/
        width: 17vw;
    height: 17vw;
    left: 30.6vw;
    top: 35.7vh;
	background-image: url(../img/build.png);
	background-position: center;
    background-attachment: scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#wall {
	width: 25vw;
    height: 25vw;
    left: 11vw;
    top: 18vh;
	background-image: url(../img/wall.png);
	background-position: center;
    background-attachment: scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

#shadow {
	/*-webkit-box-shadow: 10px 10px 65px 21px rgba(245,0,208,0.9);
    -moz-box-shadow: 10px 10px 65px 21px rgba(245,0,208,0.9);
    box-shadow: 10px 10px 65px 21px rgba(245,0,208,0.9);
*/    -webkit-box-shadow: 10px 10px 300px 200px rgba(245,0,208,0.9);
    -moz-box-shadow: 10px 10px 300px 200px rgba(245,0,208,0.9);
    box-shadow: 10px 10px 300px 200px rgba(245,0,208,0.6);
    border-radius: 15vw;
        width: 13vw;
    height: 13vw;
    left: 33vw;
    top: 41vh;
     z-index: 9;
}

#shadow2 {
	/*-webkit-box-shadow: 10px 10px 65px 21px rgba(245,0,208,0.9);
    -moz-box-shadow: 10px 10px 65px 21px rgba(245,0,208,0.9);
    box-shadow: 10px 10px 65px 21px rgba(245,0,208,0.9);
*/    -webkit-box-shadow: 10px 10px 300px 200px rgba(0,189,245,0.9);
    -moz-box-shadow: 10px 10px 300px 200px rgba(0,189,245,0.9);
    box-shadow: 10px 10px 300px 200px rgba(0,189,245,0.6);
    border-radius: 15vw;
    width: 18vw;
    height: 18vw;
    left: 75vw;
    top: 42vh;
     z-index: 9;
}

.modal {
	display: none;
	position: absolute;
	z-index: 100;
}

#building-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#inform-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#mission-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

.mission-modal-start {
	top:15vh;
	left: 5vw;
    width: 90vw;
	height:60vh;
}

#mission-modal-story {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#fake-call-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#self-based-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#cops-arest-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#story-success-end-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#story-fail-end-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

#story-neutral-end-modal {
	top:15vh;
	left: 30vw;
	width:40vw;
	height:70vh;
}

.block-info-template {
	display: none;
}

.template {
	display: none !important;
}

.block-info {
	width:35%;
	height: 35%;
	margin-left:10%;
    margin-top: 10%;
	background-color: blue;
    position: inherit;
    display: inline-block;
}

.block-info:hover {
	opacity: 0.8;
    cursor: pointer;
}

.story-line {
	width:35%;
	height: 35%;
	margin-left:10%;
    margin-top: 10%;
	background-color: blue;
    position: inherit;
    display: inline-block;
}

.story-line:hover {
	opacity: 0.8;
    cursor: pointer;
}

.modal-info-wrap {
	width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

.mission-flag {
	position: absolute;
    z-index: 11;
    width:10vw;
	height:10vh;
	cursor: pointer;
}

.mission-default {
	background-color: rgba(0,189,245,0.6);
}

.mission-default:hover {
	background-color: rgb(1 164 212);
}


.mission-accepted {
	background-color: #ff6a00;
}

#m1 {
	top:10vh;
	left: 20vw;
}

#m2 {
	display: none;
	top:15vh;
	left: 40vw;
}

#calls {
    width:20vw;
	top: 10vh;
	left: 0;
	position: absolute;
    z-index: 12;
}

#calls-container {
	list-style: none;
	padding: 0;
}

#calls-title {
	height: 5vh;
	text-align: right;
	background-color: orange;
}

#calls-title>h1 {
	display: inline-block;
    text-transform: uppercase;
}

.call {
    line-height: 4vh;
	width: 90%;
    height: 4vh;
    margin-top: 1vh;
    margin-left: 10%;
    background-color: #92652e;
}

.call:hover {
    background-color: #a5773f;
    cursor: pointer;
}

.call-wrap {
	justify-content: space-around;
    display: flex;
}

.call-mission-countdown {
	font-style: italic;
    font-weight: 600;
    color: #ffffffb5;
    font-size: 2.5vh;
}

#messages {
    width:20vw;
	top: 10vh;
	right: 0;
	position: absolute;
    z-index: 12;
}

#messages-title {
	height: 5vh;
	text-align: left;
	background-color: brown;
}

#messages-title>h1 {
	display: inline-block;
    text-transform: uppercase;
}

.message {
	width: 90%;
    height: 4vh;
    margin-top: 1vh;
    margin-right: 10%;
    background-color: aliceblue;
}

.message-text-block {
	text-align: center;
    line-height: 4vh;
}

.qms-description-block {
	width: 100%;
	height: 60%;
	background-color: red;
	display: flex;
}

.qms-dscr-bl-image {
	width: 60%;
	height: 100%;
	background-color: red;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.m1-image {
	background-image: url(../img/dick.png);
}

.m2-image {
	background-image: url(../img/tits.gif);
}*/

.qms-dscr-bl-text-area {
	width: 40%;
	height: 100%;
}

.qmsdbta-content {
	width: 80%;
	margin: 20% auto;
	color: white;
}

.qms-squad-block {
	width: 100%;
	height: 30%;
	display: flex;
}

.qmssb-common-team-container {
	width: 75%;
	height: 100%;
}

.qmssb-bdsm-team-container {
	width: 25%;
	height: 100%;
}

.qmssb-common-team-list {
	width: 90%;
	height: 100%;
	list-style: none;
	display: flex;
	margin: auto;
	padding: 0;
}

.qmssb-common-team-list-item {
	width: 15%;
	height: 90%;
	margin: auto;
	background-color: black;
	cursor: pointer;
	opacity: 0.2;
}

.qmssb-bdsm-team-list {
	width: 90%;
	height: 100%;
	list-style: none;
	display: flex;
	margin: auto;
	padding: 0;
}

.qmssb-bdsm-team-list-item {
	width: 45%;
	height: 90%;
	margin: auto;
	background-color: black;
	cursor: pointer;
	opacity: 0.4;
}

.qms-empty-list-close-btn {
	height: 10%;
	width: 100%;
	background-color: blue;
	text-align: center;
	color: white;
	cursor: pointer;
}

.qms-buttons {
	height: 10%;
	width: 100%;
	display: none;
	text-align: center;
	color: white;
	cursor: pointer;
	display: flex;
}

.qms-accept-btn {
	height: 100%;
	width: 50%;
	background-color: blue;
}

.qms-close-btn {
	height: 100%;
	width: 50%;
	background-color: red;
}

.qmssbctli-active {
	background-color: darkblue;
	opacity: 1;
}

.qmssbbtli-active {
	background-color: purple;
	opacity: 1;
}

.notDisplay {
	display: none
}

.hide {
	visibility: hidden;
}

.choose-story-title {
	text-align: center;
    padding-top: 5%;
}

.choose-story {
	height: 100%;
    width: 100%;
}

.choose-story-intro {
	height: 80%;
    width: 100%;
}

.choose-story-block {
	height: 80%;
    width: 100%;
    display: none;
}

.mission-flag-countdown {
	font-size: 10vh;
    line-height: 10vh;
    margin: 0;
    text-align: center;
    color: #82005a;
    font-style: oblique;

}

.mission-flag-countdown:hover {
	color: #b5157ef2;

} 




